<!doctype html>
<html>
  <head>
    <title><%= title %> | The Wonders</title>
  </head>
  <body>
    <h1>About</h1>
    <p>The Wonders are one the greatest mythical bands of all time. Sometimes known as Cap'n Geech and the Shrimp Shack Shooters, The Wonders have taken Erie, PA by storm.</p>
  </body>
</html>
